<objective>
Your task is to...
</objective>

<context>
    <hubspot>
        {{ hubspot }}
    </hubspot>
    <camelot>
        {{ camelot }}
    </camelot>
</context>

<instructions>
    - Look at the data...
</instructions>
